{% extends 'base.html' %}

{% block title %} 회원가입 {% endblock %} 

{% block content %}
<h1 style="text-align: center; margin: 100px">회원가입</h1>
<form>
  <div class="container">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">ID</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Confirm Password</label>
    </div>
    <div class="buttons">
      <div class="d-grid gap-3 d-md-block">
        <button class="btn btn-primary" type="button">회원가입</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
