{% extends 'base.html' %}

{% block title %} 로그인 {% endblock %} 

{% block content %}
<h1 style="margin: 100px;">로그인</h1>
<form class="form-area" action="/sign-in/" method="post">
  {% csrf_token %}
  <div class="sign_form">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="username"
        name="username"
      />
      <label for="floatingInput">ID</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="password"
        name="password"
      />
      <label for="password">Password</label>
    </div>
    <div class="buttons">
      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">로그인</button>
        <a href="/sign-up" class="btn btn-primary" type="button">회원가입</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}
