{% extends 'base.html' %} 

{% block title %} 입고 {% endblock %} 

{% block content %}
<h1 style="margin: 20px;">입고</h1>
<form class="form-area" action="/inbound_create/" method="post">
  {% csrf_token %}
    <div class="create_form">
      <div class="mb-3">
        <label for="code" class="form-label">상품 코드</label>
        <input type="text" class="form-control" id="code" name="code">
      </div>
      <div class="mb-3">
        <label for="amount" class="form-label">입고 수량</label>
        <input type="text" class="form-control" id="amount" name="amount">
      </div>
      {% comment %} <div class="mb-3">
        <label for="created_at" class="form-label">입고 날짜</label>
        <input type="date" class="form-control" id="created_at" name="created_at">
      </div> {% endcomment %}
      <div class="mb-3">
        <label for="price" class="form-label">입고 가격</label>
        <input type="number" class="form-control" id="price" aria-describedby="price" name="price">
        <div id="" class="form-text">, 없이 숫자만 적어주세요</div>
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-primary">등록</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}