{% extends 'base.html' %} 

{% block title %} 재고현황 {% endblock %} 

{% block content %}
{% load mathfilters %}
<h1 style="margin: 20px;">재고현황</h1>
<div style="margin: 0 20px;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">상품 코드</th>
            <th scope="col">입고</th>
            <th scope="col">출고</th>
            <th scope="col">현재고</th>
            <th scope="col">차액</th>
          </tr>
        </thead>
        <tbody>
          {% for pro in product %}
          <tr>
            <td>{{ pro.code }}</td>
            <td>{{ pro.inbound.amount }}</td>
            <td>{{ pro.outbound.amount }}</td>
            <td>{{ pro.inventory.amount }}</td>
            <td>{{ pro.price|sub:pro.code }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}