{% extends 'base.html' %} 

{% block title %} 상품등록 {% endblock %} 

{% block content %}
<h1 style="margin: 20px;">상품등록</h1>
<form class="form-area" action="/product_create/" method="post">
  {% csrf_token %}
  <div class="create_form">
    <div class="mb-3">
      <label for="code" class="form-label">상품 코드</label>
      <input type="text" class="form-control" id="code" name="code">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">상품 이름</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">상품 설명</label>
      <textarea class="form-control" id="description" rows="3" name="description"></textarea>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">상품 가격</label>
      <input type="number" class="form-control" id="price" aria-describedby="price" name="price">
      <div id="" class="form-text">, 없이 숫자만 적어주세요</div>
    </div>
    <select for="size" class="form-select" aria-label="Default select example" id="size" name="size">
      <option selected>Size</option>
      <option value="1">S</option>
      <option value="2">M</option>
      <option value="3">L</option>
      <option value="4">Free</option>
    </select>
    <div class="buttons">
      <button type="submit" class="btn btn-primary">등록</button>
    </div>
  </div>
</form>
{% endblock %}