{% extends 'base.html' %} 

{% block title %} 상품리스트 {% endblock %} 

{% block content %}
<h1 style="margin: 20px; ">상품리스트</h1>
<div style="margin: 0 20px;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">상품 코드</th>
        <th scope="col">상품 이름</th>
        <th scope="col">상품 설명</th>
        <th scope="col">상품 가격</th>
        <th scope="col">사이즈</th>
        <th scope="col">재고 수량</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ product.code }}</td>
        <td>{{ product }}</td>
        <td>{{ code }}</td>
        {% for pro in product %}
        <td>{{ pro.code }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
